.about {
  padding: 20px;
  color: white; /* Ensure text color is white */
  background-color: transparent; /* Ensure no background color covers the text */
}

.aboutContainer {
  margin: 0 auto;
  max-width: 800px;
}

.about h1, .about h2, .about p, .about ul, .about li {
  color: white; /* Ensure text color is white */
}

.about ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about li {
  margin-bottom: 10px;
}
