.budgetManager {
  padding: 20px;
  padding-bottom: 80px; /* Add bottom padding to ensure totalBox is visible */
}

.budgetManager h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.totalBudget {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.totalBudget label {
  margin-right: 10px;
  font-size: 1.2rem;
}

.budgetInputWrapper {
  display: flex;
  align-items: center;
}

.dollarSign {
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
  color: #333;
}

.totalBudget input {
  width: 100px;
  padding: 5px;
  font-size: 1rem;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
  text-align: right;
}

.totalBudget input::placeholder {
  color: #ccc;
}

.remaining {
  margin-left: 20px;
  font-size: 1rem;
  color: #fff;
}

.warningBar {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: #f54c4c;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  display: inline-block;
}

.categoryGroup {
  margin-bottom: 40px;
  flex: 1;
}

.categoryGroup h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  color: #ccc;
}

.categoryGroups {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.budgetItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.totalBoxWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center; /* Center the total box */
}

.totalBox {
  padding: 15px 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%; /* Ensure it spans the full width */
  max-width: 400px; /* Add a max width to keep it contained */
}

.totalBox h2 {
  margin: 0 0 10px 0;
  font-size: 1.6rem;
  color: #333;
}

.totalBox p {
  margin: 0;
  font-size: 1.4rem;
  color: #333;
  font-weight: bold;
}
