.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .dashboardContainer {
    max-width: 800px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  