.resourceList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw !important; /* Force full width */
}

.resourceItem {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  padding: 20px;
  width: 100%; /* Ensure full width */
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  align-items: center;
}

.resourceItem:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.resourceLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
}

.resourceTitle {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.resourceDescription {
  font-size: 16px;
  color: #7f8c8d;
}
