.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  transition: transform 0.3s ease; /* Add transition for hide/show effect */
}

.profileSection {
  margin-bottom: 20px;
}

.profileEmail {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 10px;
}

.navSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid transparent;
  outline: none; /* Remove default focus outline */
  -webkit-tap-highlight-color: transparent; /* Remove tap highlight on mobile */
  box-shadow: none; /* Remove box shadow */
}

.navLink:hover {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.navLink:focus,
.navLink:active,
.navLink:focus-visible {
  outline: none; /* Remove default focus outline */
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: none; /* Remove box shadow */
}

.activeLink {
  border: 1px solid #007bff;
  background-color: rgba(0, 123, 255, 0.3); /* Adjusted the active background color */
  outline: none; /* Remove default focus outline */
  box-shadow: none; /* Remove box shadow */
}

.bottomLinks {
  margin-top: auto;
}

.hidden {
  transform: translateX(-100%);
}

.toggleButton {
  position: fixed;
  top: 20px;
  left: 260px;
  z-index: 1000;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: left 0.3s ease; /* Transition for smooth movement */
}

.hiddenButton {
  left: 10px; /* Adjust the button position when the sidebar is hidden */
}
