.username {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .grid {
    display: grid;
  }
  
  .submit {
    text-align: center;
  }
  
  .error-text {
    color: red;
    text-align: center;
  }
  